footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'top top top'
    'middle middle middle'
    'bottom bottom bottom';
  gap: 20px;
  .top {
    grid-area: top;
    padding: 60px 20px;
    height: max-content;
    color: $color-text-footer;
    background-color: $color-blue;

    .step-footer {
      img {
        width: 94px;
        height: 94px;
        background-color: $color-bg-footer-img;
        border-radius: 50%;
        padding: 10px;
      }
      .step-footer-info {
        margin-bottom: 10px;
        h2 {
          margin: 0;
        }
      }
    }
  }
  .middle {
    display: grid;
    grid-area: middle;
    gap: 50px;
    .left,
    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      & > a {
        text-decoration: none;
        font-size: 36px;
        color: $color-blue;
      }
    }
  }

  .bottom {
    grid-area: bottom;
    text-align: center;
    padding: 40px;
    font-size: 19px;
    background-color: $color-blue;
    & > a {
      color: $color-text-footer;
      text-decoration: none;
    }
    span {
      color: $color-text-footer;
      font-weight: 500;
    }
  }
}

// 650px => desktop
