.product-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 20px;

  .product-card {
    padding: 25px 25px 10px 25px;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    .desktop {
      display: none !important;
    }

    img {
      max-width: 300px;
      width: 100%;
    }

    .item {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 10px;

      .item-left {
        .item-title {
          margin: 5px 0;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .product-card {
    display: flex;
    flex-direction: column;
  }
}
