$font-size: 14px;
$font-radius: 14px;

$color-bg: rgba(246, 247, 252, 1);
$color-bg-footer-img: #c4c4c4;

$color-border-hard: #cdd1dd;
$color-border-soft: #eff0f4;

$color-text-hard: #545868;
$color-text-soft: #bdc0cc;
$color-text-light: #cdd1dd;
$color-text-footer: #e5e5e5;

$color-blue: #2d4059;
$color-red: #ea5455;
$color-grey: #e5e5e5;
