@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import './scss/normalize.css';
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: rgb(246, 247, 252);
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #2c3e50;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

.bg-grey {
  background-color: rgb(246, 247, 252);
}

.bg-blue {
  background-color: #2d4059;
}

.red {
  color: #ea5455;
}

.green {
  color: #42CC58;
}

.desktop {
  display: none !important;
}

.category-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: 10px;
  justify-content: center;
}
.category-cards .category-card {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.category-cards .category-card h4 {
  margin: 10px 0 0 0;
  font-size: 1.2rem;
}
.category-cards .category-card img {
  width: 50px;
}

.choice-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.choice-cards h3 {
  margin-bottom: 60px;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 7px;
  padding: 14px 22px;
}
.title-bar .right {
  max-width: 60%;
  text-align: right;
}

.navbar {
  color: white;
  font-size: 14px;
  padding: 30px 30px;
}
.navbar .right {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}
.navbar .right > * {
  width: 135px;
  margin: 5px 0;
}
.navbar .right img {
  width: 40px;
}
.navbar a {
  color: white;
  text-decoration: none;
}
.navbar .link img {
  width: 15px;
}

.product-card {
  margin: 0 20px;
  padding: 25px 25px 10px 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-card img {
  max-width: 300px;
  width: 100%;
}
.product-card .item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
}
.product-card .item .item-left .item-title {
  margin: 5px 0;
}

section {
  max-width: 1000px;
  margin: auto;
}

.section-title {
  font-weight: 600;
  margin: 100px 0 50px 30px;
}
.section-title h2 {
  margin-bottom: 0;
}
.section-title h3 {
  margin-top: 0;
  color: #2c3e50;
}

.section-content {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h2 {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  padding: 100px 0;
}
main .faq {
  width: 100%;
  max-width: 800px;
}
main .faq h2 {
  color: #ea5455;
}
main .faq .faq-questions {
  background-color: #e5e5e5;
  border-radius: 10px;
  border: 1px solid #000000;
}
main .faq .faq-questions .faq-item .question {
  padding: 20px 40px;
  border-bottom: 1px solid #000000;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
main .faq .faq-questions .faq-item .no-border {
  border-bottom: none;
}
main .faq .faq-questions .faq-item .answer {
  border-bottom: 1px solid #000000;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "top top top" "middle middle middle" "bottom bottom bottom";
  gap: 20px;
}
footer .top {
  grid-area: top;
  padding: 60px 20px;
  height: max-content;
  color: #e5e5e5;
  background-color: #2d4059;
}
footer .top .step-footer img {
  background-color: #c4c4c4;
  border-radius: 50%;
  padding: 10px;
}
footer .top .step-footer .step-footer-info {
  margin-bottom: 10px;
}
footer .top .step-footer .step-footer-info h2 {
  margin: 0;
}
footer .middle {
  display: grid;
  grid-area: middle;
  gap: 50px;
}
footer .middle .left,
footer .middle .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
footer .middle .left > a,
footer .middle .right > a {
  text-decoration: none;
  font-size: 36px;
  color: #2d4059;
}
footer .bottom {
  grid-area: bottom;
  text-align: center;
  padding: 40px;
  font-size: 19px;
  background-color: #2d4059;
}
footer .bottom > a {
  color: #e5e5e5;
  text-decoration: none;
}
footer .bottom span {
  color: #e5e5e5;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .desktop {
    display: block !important;
  }
  .title-bar .left {
    display: flex;
  }
}

/*# sourceMappingURL=main.css.map */
